name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        operating-system: [build_windows_amd64, build_macos_amd64, build_macos_arm64, build_linux_amd64, build_linux_i386]

    name: ${{ matrix.operating-system}}

    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.17
        run: go version

      - name: Format
        run: go format

      - name: Build binary for ${{ matrix.operating-system }}
        run: make ${{ matrix.operating-system }}

